<div ng-controller="MainCtrl as ctrl">
<div class="panel-heading"><h1>Customers</h1></div>
<div class="panel-body">
  <input type="text" ng-model="customerFilter.name">
  <table class="table">
    <thead>
    <tr>
      <td ng-click="sortBy = 'name';reverse=!reverse">Name</td>
      <td ng-click="sortBy = 'city';reverse=!reverse">City</td>
      <td ng-click="sortBy = 'orderTotal';reverse=!reverse">Order Total</td>
      <td ng-click="sortBy = 'joined';reverse=!reverse">Joined</td>
      <td>&nbsp;</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="cust in customers | filter:customerFilter | orderBy:sortBy:reverse">
      <td>{{ cust.name }}</td>
      <td>{{ cust.city }}</td>
      <td>{{ cust.orderTotal }}</td>
      <td>{{ cust.joined }}</td>
      <td><a href="#/about/{{ cust.id }}"class="btn btn-info">Add</a> </td>
    </tr>
    </tbody>
  </table>
  <p><span>Total Customers: {{ customers.length }}</span></p>
</div>
</div>
