<div ng-controller="MainCtrl as ctrl">
<div class="panel-heading"><h1>Customers</h1></div>
<div class="panel-body">
  <div class="pull-right">Search by Name:
    <input class="typeahead" type="text"ng-model="customerFilter.name"placeholder=" Enter Name ">
  </div><br/><hr/>
  <table class="table table-responsive">
    <thead>
    <tr>
      <td ng-click="sortBy = 'name';reverse=!reverse"><b>Name</b> <span class="caret red"></span></td>
      <td ng-click="sortBy = 'city';reverse=!reverse"><b>City</b> <span class="caret red"></span></td>
      <td ng-click="sortBy = 'orderTotal';reverse=!reverse"><b>Order Total</b> <span class="caret red"></span></td>
      <td ng-click="sortBy = 'joined';reverse=!reverse"><b>Joined</b> <span class="caret red"></span></td>
      <td>&nbsp;</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="cust in customers | filter:customerFilter | orderBy:sortBy:reverse">
      <td>{{ cust.name }}</td>
      <td>{{ cust.city }}</td>
      <td>{{ cust.orderTotal | currency }}</td>
      <td>{{ cust.joined }}</td>
      <td><a href="#/about/{{ cust.id }}"class="btn btn-info">Add</a> </td>
    </tr>
    </tbody>
  </table>
  <p><span>Total Customers: {{ customers.length }}</span></p>
</div>
</div>
