<div
     class="stock-dash">
  Name: <span class="stock-name"
              ng-bind="stockData.name">
</span>
  Price:
  <span class="stock-price"
        ng-bind="stockData.price | currency">
  </span>
  Percentage Change:
  <span class="stock-change"
        ng-bind="getChange(stockData) + '%'">
  </span>
  <button ng-click="onSelect()">Select me</button>
</div>
<!--
<div ng-controller="StockCtrl as  stockCtrl">
  <table class="table table-striped">
    <thead>
    <tr>
      <td>Name</td>
      <td>Present Price</td>
      <td>Previous Price</td>
      <td>Percentage (%)</td>
      <td>&nbsp;</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="s in stockCtrl.stocks">
      <td class="stock-name" ng-bind="stockData.name"></td>
      <td class="stock-price" ng-bind="stockData.price | currency"></td>
      <td class="stock-previous" ng-bind="stockData.previous | currency"></td>
      <td class="stock-change" ng-bind="getChange(stockData) + '%'"></td>
      <td>
        <button ng-click="onSelect()">Select me</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
-->
